body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 50px;
    color: rgba(1, 1, 116, 0.863);
}
button,input
{
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
#resultado
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;

}